*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image:url("../bilder/kortspillFelt.jpg");
    background-size: cover;
}
img{
    height: 100%;
}
button{
    font-size: 20px;
}
div>button{
    height: 30px;
    background-color: cornflowerblue;
    
}
.kort{
   width: 150px; 
   margin: -40px;
   height: 200px;
}
.content {
    display: flex;
    flex-direction: row;
    grid-column: 10/11;
}
#container{
    display: grid;
    padding: 30px;
    grid-template-rows: 100px;
    grid-template-columns: repeat(10, 1fr);

}
#hand{
    position: absolute;
    top: 70%;
    left:50%;
    transform: translate(-50%,-50%);
}
#hitButton{
    
    height: 50px;
    width: 200px;
    background-color:  rgb(55, 140, 120);
    border: 2px solid rgb(4, 33, 4);
    
}
#standButton{
    height: 50px;
    width: 200px;
    background-color: aquamarine;
}
#dealerHand{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#result{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 30px  ;


}
h2{
    color: white;
    font-size: 30px;
    
}
#winnerValue{
    grid-column: 9/10;
    font-size: 30px;
    color: white;
    font-weight: bold;
    
}